<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task|%>
    <li class="task">
      <% if task.completed %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-square-o" aria-hidden="true"></i>
      <% end %>
      <%= link_to task.title, task_path(task) %>
      •
      <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>'.html_safe, destroy_task_path(task),
          method: :delete,
          data: { confirm: "Are you sure you want to delete this task?" }%>
    </li>
  <% end %>
</ul>
<p class="footer"><%= link_to '<i class="fa fa-plus" aria-hidden="true"></i> Add a new task'.html_safe, new_task_path %></p>
